# Setting Up and Exploring a Spark DataFrame in PySpark (on Mac M1)

This code snippet demonstrates how to download a dataset, create a Spark DataFrame, and explore its contents using PySpark. We'll utilize pandas for initial data loading and then convert it to a Spark DataFrame for distributed processing.

Important Note:
- Java and Environment Variables: Since we're working on Apple Silicon, it's crucial to set the JAVA_HOME environment variable to point to a compatible OpenJDK installation. This ensures Spark can interact with the Java runtime environment effectively. If not done already, you can use 'brew install openjdk' to install java.
- Virtual Environments: For managing dependencies and avoiding conflicts, it's highly recommended to use a virtual environment when working with PySpark projects. This helps isolate project-specific packages and keeps your development environment clean.

In [12]:
# Set the `JAVA_HOME` environment variable to point to the OpenJDK installation directory
# This is necessary for Spark to interact with the Java runtime on macOS with Apple Silicon
# Replace '/opt/homebrew/opt/openjdk' with your actual installation path if different
import os
os.environ['JAVA_HOME'] = '/opt/homebrew/opt/openjdk'

import pandas as pd

# Create a SparkSession named 'SparkBasics'
# This is the entry point for working with Spark SQL
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkBasics').getOrCreate()

In [13]:
# Download and Load the HR Employee Dataset

# Use pandas to read the CSV data from a URL
df_pandas = pd.read_csv('https://github.com/YBIFoundation/BigData/raw/main/HR50k.csv')

# Convert the pandas DataFrame to a Spark DataFrame
df_spark = spark.createDataFrame(df_pandas)

## Explore spark dataframe

The show() method is a built-in function of Spark DataFrames. By default, it displays the first 20 rows of the DataFrame in a tabular format. This helps you get a quick glimpse into the structure and contents of the data.

In [7]:
df.show()

24/06/09 13:32:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 31|       No|       Non-Travel|      158|            Software|               7|        3|         Medical|            1|             1|                      3|  Male|        42|             2|       3|           Developer|              1|      Married|        42682|     298774|                 2|     Y|      No|               20|                4|                       1|           80|               2|               15|                    1|              2|            12|                 4|                     10|                  11|
| 38|       No|    Travel_Rarely|      985|     Human Resources|              33|        5|   Life Sciences|            1|             2|                      1|Female|        66|             2|       4|Healthcare Repres...|              3|       Single|        45252|      45252|                 8|     Y|      No|                2|                1|                       3|           80|               4|                5|                    4|              3|             1|                 1|                      1|                   1|
| 59|      Yes|       Non-Travel|     1273|               Sales|               5|        2|Technical Degree|            1|             3|                      4|Female|        96|             1|       3|Manufacturing Dir...|              2|      Married|        46149|     507639|                 7|     Y|     Yes|               39|                3|                       2|           80|               2|                9|                    5|              1|             6|                 6|                      4|                   3|
| 52|      Yes|    Travel_Rarely|      480|             Support|               2|        5|       Marketing|            1|             4|                      4|Female|        71|             2|       4|     Human Resources|              1|      Married|        27150|      27150|                 4|     Y|      No|               16|                3|                       2|           80|               2|               22|                    4|              4|            10|                 9|                      5|                   6|
| 32|       No|       Non-Travel|      543|     Human Resources|               7|        5| Human Resources|            1|             5|                      2|  Male|       122|             3|       3|             Manager|              2|     Divorced|        15894|      47682|                 6|     Y|     Yes|               42|                3|                       4|           80|               2|               30|                    3|              4|            29|                27|                      9|                   7|
| 19|      Yes|       Non-Travel|      779|            Hardware|              43|        1|         Medical|            1|             6|                      2|Female|       195|             4|       3|   Research Director|              3|      Married|        41552|    1246560|                 3|     Y|     Yes|               15|                4|                       3|           80|               1|               33|                    4|              2|            16|                 4|                     14|                   3|
| 42|      Yes|       Non-Travel|      934|             Support|              26|        4| Human Resources|            1|             7|                      2|Female|        80|             3|       5|     Sales Executive|              4|     Divorced|         5303|     148484|                 3|     Y|      No|               45|                4|                       1|           80|               1|                4|                    3|              4|             2|                 1|                      1|                   2|
| 30|       No|    Travel_Rarely|      380|             Support|              19|        3|       Marketing|            1|             8|                      4|  Male|       165|             1|       4|     Human Resources|              4|       Single|        28555|     571100|                 2|     Y|     Yes|               35|                3|                       2|           80|               1|                2|                    2|              2|             2|                 2|                      2|                   2|
| 41|       No|Travel_Frequently|     1464|            Software|              16|        1|   Life Sciences|            1|             9|                      3|  Male|       134|             1|       2|             Manager|              4|     Divorced|         3241|      87507|                 7|     Y|      No|                1|                1|                       3|           80|               2|                8|                    1|              2|             2|                 1|                      2|                   2|
| 45|       No|Travel_Frequently|     1020|     Human Resources|              17|        5|   Life Sciences|            1|            10|                      4|Female|       137|             2|       4|             Manager|              2|      Married|         4323|     116721|                 4|     Y|     Yes|               32|                1|                       3|           80|               4|                6|                    4|              4|             5|                 3|                      4|                   1|
| 36|       No|    Travel_Rarely|      987|               Sales|              33|        4|           Other|            1|            11|                      3|  Male|       159|             3|       1|     Human Resources|              3|      Married|        10587|      95283|                 0|     Y|     Yes|               47|                4|                       2|           80|               1|               38|                    3|              4|            24|                19|                      8|                   6|
| 23|       No|Travel_Frequently|      135|     Human Resources|              20|        4|   Life Sciences|            1|            12|                      2|Female|        51|             2|       2|Manufacturing Dir...|              2|     Divorced|         7446|     141474|                 8|     Y|     Yes|               44|                1|                       2|           80|               4|               16|                    5|              3|             8|                 6|                      7|                   6|
| 24|      Yes|       Non-Travel|     1086|             Support|              15|        1|       Marketing|            1|            13|                      4|Female|       189|             3|       1|Manufacturing Dir...|              4|      Married|        34153|     648907|                 7|     Y|      No|               17|                1|                       3|           80|               1|               30|                    2|              2|            15|                 3|                      8|                   4|
| 39|      Yes|       Non-Travel|      673|Research & Develo...|              16|        2| Human Resources|            1|            14|                      2|Female|        69|             4|       2|     Sales Executive|              2|      Married|        47844|     382752|                 1|     Y|      No|               47|                1|                       4|           80|               1|               14|                    4|              2|            13|                 9|                     11|                   5|
| 42|      Yes|    Travel_Rarely|      145|     Human Resources|              31|        3|   Life Sciences|            1|            15|                      3|  Male|       127|             3|       1|           Developer|              4|      Married|        21432|      21432|                 4|     Y|     Yes|               48|                2|                       1|           80|               4|                2|                    6|              2|             1|                 1|                      1|                   1|
| 44|      Yes|Travel_Frequently|      717|            Software|              10|        2| Human Resources|            1|            16|                      3|Female|       151|             1|       5|Sales Representative|              4|     Divorced|        50393|    1058253|                 6|     Y|     Yes|               42|                2|                       1|           80|               2|               27|                    3|              1|            27|                13|                     18|                  18|
| 50|      Yes|Travel_Frequently|      460|Research & Develo...|              10|        4| Human Resources|            1|            17|                      4|  Male|       181|             2|       5|             Manager|              3|     Divorced|        22090|      66270|                 7|     Y|      No|               19|                2|                       1|           80|               2|               14|                    3|              3|             5|                 3|                      4|                   5|
| 42|       No|    Travel_Rarely|     1422|            Software|              26|        4|   Life Sciences|            1|            18|                      4|Female|        92|             4|       5|           Developer|              3|       Single|        47968|      47968|                 3|     Y|     Yes|               41|                4|                       2|           80|               1|                5|                    4|              3|             4|                 1|                      2|                   3|
| 49|       No|Travel_Frequently|      129|Research & Develo...|              41|        1|Technical Degree|            1|            19|                      3|Female|        81|             2|       1|             Manager|              1|     Divorced|        24665|      98660|                 0|     Y|      No|               17|                2|                       3|           80|               4|                7|                    1|              3|             6|                 4|                      3|                   4|
| 58|      Yes|    Travel_Rarely|      637|             Support|               5|        4|Technical Degree|            1|            20|                      2|Female|        66|             3|       5|             Manager|              2|      Married|        41084|     903848|                 7|     Y|      No|               46|                1|                       3|           80|               3|               39|                    6|              4|            17|                 3|                     13|                   4|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

The printSchema() method is a built-in function of Spark DataFrames. It displays the schema information, which includes:
- Column names
- Data types of each column (e.g., integer, string, etc.)

In [14]:
df_spark.printSchema()

root
 |-- Age: long (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: long (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: long (nullable = true)
 |-- Education: long (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: long (nullable = true)
 |-- EmployeeNumber: long (nullable = true)
 |-- EnvironmentSatisfaction: long (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: long (nullable = true)
 |-- JobInvolvement: long (nullable = true)
 |-- JobLevel: long (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: long (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: long (nullable = true)
 |-- MonthlyRate: long (nullable = true)
 |-- NumCompaniesWorked: long (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: long (nullable = true)
 |-- PerformanceRating: long (nullable = true)
 |-- RelationshipSatisfaction: long (nullable = true)
 |-- StandardHours: long (nullable = true)
 |-- StockOptionLevel: long (nullable = true)
 |-- TotalWorkingYears: long (nullable = true)
 |-- TrainingTimesLastYear: long (nullable = true)
 |-- WorkLifeBalance: long (nullable = true)
 |-- YearsAtCompany: long (nullable = true)
 |-- YearsInCurrentRole: long (nullable = true)
 |-- YearsSinceLastPromotion: long (nullable = true)
 |-- YearsWithCurrManager: long (nullable = true)

The describe() method is a built-in function of Spark DataFrames. It calculates summary statistics for numerical columns in the DataFrame. These statistics include:

- Count: The number of non-null values in the column
- Mean: The average value
- Stddev: The standard deviation
- Min: The minimum value
- Max: The maximum value

The show() method displays the calculated summary statistics in a tabular format.

In [15]:
df_spark.describe().show()

+-------+------------------+---------+--------------+-----------------+----------+------------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+------------------+-----------------+------------------+------+--------+------------------+-----------------+------------------------+-------------+-----------------+------------------+---------------------+------------------+----------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|        DailyRate|Department|  DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|     MonthlyIncome|      MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours| StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|  YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+-----------------+----------+------------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+------------------+-----------------+------------------+------+--------+------------------+-----------------+------------------------+-------------+-----------------+------------------+---------------------+------------------+----------------+------------------+-----------------------+--------------------+
|  count|             50000|    50000|         50000|            50000|     50000|             50000|             50000|           50000|        50000|            50000|                  50000| 50000|             50000|             50000|             50000|               50000|             50000|        50000|             50000|            50000|             50000| 50000|   50000|             50000|            50000|                   50000|        50000|            50000|             50000|                50000|             50000|           50000|             50000|                  50000|               50000|
|   mean|          38.97148|     NULL|          NULL|        798.67756|      NULL|          25.53978|            3.0046|            NULL|          1.0|          25000.5|                2.49836|  NULL|         115.43294|           2.50262|           2.99464|                NULL|           2.48738|         NULL|       26015.78126|     404043.57942|             3.999|  NULL|    NULL|          24.61832|          2.49596|                 2.50222|         80.0|          2.50378|          20.49686|              3.49398|           2.49872|         10.7711|            5.9073|                5.87182|             5.88904|
| stddev|12.420833794550306|     NULL|          NULL|405.0802167868569|      NULL|14.339955726507837|1.4142485078573843|            NULL|          0.0|14433.90106658626|     1.1196706585633438|  NULL|49.424866608875995|1.1205437287160904|1.4159983656160868|                NULL|1.1163089440263259|         NULL|14410.977499609897|340190.8111281803| 2.582373399229371|  NULL|    NULL|14.405000189455372|1.118091535149792|       1.117917736866774|          0.0|1.118932862961418|11.575819199184243|   1.7081516663464937|1.1141199158365929|8.93422974851352| 6.034377762810318|     5.9990557307790695|   6.009613147899268|
|    min|                18|       No|    Non-Travel|              100|  Hardware|                 1|                 1| Human Resources|            1|                1|                      1|Female|                30|                 1|                 1|           Developer|                 1|     Divorced|              1001|             1007|                 0|     Y|      No|                 0|                1|                       1|           80|                1|                 1|                    1|                 1|               1|                 1|                      1|                   1|
|    max|                60|      Yes| Travel_Rarely|             1500|   Support|                50|                 5|Technical Degree|            1|            50000|                      4|  Male|               200|                 4|                 5|Sales Representative|                 4|       Single|             50999|          1528290|                 8|     Y|     Yes|                49|                4|                       4|           80|                4|                40|                    6|                 4|              40|                40|                     40|                  40|
+-------+------------------+---------+--------------+-----------------+----------+------------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+------------------+-----------------+------------------+------+--------+------------------+-----------------+------------------------+-------------+-----------------+------------------+---------------------+------------------+----------------+------------------+-----------------------+--------------------+

Setting spark configuration
- `spark.conf.set`: This method allows you to set configuration properties for Spark.
- `spark.sql.repl.eagerEval.enabled`: This specific property controls the evaluation behavior of Spark DataFrames in certain environments like Jupyter notebooks.
- `True`: Setting this to `True` enables eager evaluation, meaning the Spark DataFrame results are displayed immediately when you call an action like `show()`.

In [17]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df_spark

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 31|       No|       Non-Travel|      158|            Software|               7|        3|         Medical|            1|             1|                      3|  Male|        42|             2|       3|           Developer|              1|      Married|        42682|     298774|                 2|     Y|      No|               20|                4|                       1|           80|               2|               15|                    1|              2|            12|                 4|                     10|                  11|
| 38|       No|    Travel_Rarely|      985|     Human Resources|              33|        5|   Life Sciences|            1|             2|                      1|Female|        66|             2|       4|Healthcare Repres...|              3|       Single|        45252|      45252|                 8|     Y|      No|                2|                1|                       3|           80|               4|                5|                    4|              3|             1|                 1|                      1|                   1|
| 59|      Yes|       Non-Travel|     1273|               Sales|               5|        2|Technical Degree|            1|             3|                      4|Female|        96|             1|       3|Manufacturing Dir...|              2|      Married|        46149|     507639|                 7|     Y|     Yes|               39|                3|                       2|           80|               2|                9|                    5|              1|             6|                 6|                      4|                   3|
| 52|      Yes|    Travel_Rarely|      480|             Support|               2|        5|       Marketing|            1|             4|                      4|Female|        71|             2|       4|     Human Resources|              1|      Married|        27150|      27150|                 4|     Y|      No|               16|                3|                       2|           80|               2|               22|                    4|              4|            10|                 9|                      5|                   6|
| 32|       No|       Non-Travel|      543|     Human Resources|               7|        5| Human Resources|            1|             5|                      2|  Male|       122|             3|       3|             Manager|              2|     Divorced|        15894|      47682|                 6|     Y|     Yes|               42|                3|                       4|           80|               2|               30|                    3|              4|            29|                27|                      9|                   7|
| 19|      Yes|       Non-Travel|      779|            Hardware|              43|        1|         Medical|            1|             6|                      2|Female|       195|             4|       3|   Research Director|              3|      Married|        41552|    1246560|                 3|     Y|     Yes|               15|                4|                       3|           80|               1|               33|                    4|              2|            16|                 4|                     14|                   3|
| 42|      Yes|       Non-Travel|      934|             Support|              26|        4| Human Resources|            1|             7|                      2|Female|        80|             3|       5|     Sales Executive|              4|     Divorced|         5303|     148484|                 3|     Y|      No|               45|                4|                       1|           80|               1|                4|                    3|              4|             2|                 1|                      1|                   2|
| 30|       No|    Travel_Rarely|      380|             Support|              19|        3|       Marketing|            1|             8|                      4|  Male|       165|             1|       4|     Human Resources|              4|       Single|        28555|     571100|                 2|     Y|     Yes|               35|                3|                       2|           80|               1|                2|                    2|              2|             2|                 2|                      2|                   2|
| 41|       No|Travel_Frequently|     1464|            Software|              16|        1|   Life Sciences|            1|             9|                      3|  Male|       134|             1|       2|             Manager|              4|     Divorced|         3241|      87507|                 7|     Y|      No|                1|                1|                       3|           80|               2|                8|                    1|              2|             2|                 1|                      2|                   2|
| 45|       No|Travel_Frequently|     1020|     Human Resources|              17|        5|   Life Sciences|            1|            10|                      4|Female|       137|             2|       4|             Manager|              2|      Married|         4323|     116721|                 4|     Y|     Yes|               32|                1|                       3|           80|               4|                6|                    4|              4|             5|                 3|                      4|                   1|
| 36|       No|    Travel_Rarely|      987|               Sales|              33|        4|           Other|            1|            11|                      3|  Male|       159|             3|       1|     Human Resources|              3|      Married|        10587|      95283|                 0|     Y|     Yes|               47|                4|                       2|           80|               1|               38|                    3|              4|            24|                19|                      8|                   6|
| 23|       No|Travel_Frequently|      135|     Human Resources|              20|        4|   Life Sciences|            1|            12|                      2|Female|        51|             2|       2|Manufacturing Dir...|              2|     Divorced|         7446|     141474|                 8|     Y|     Yes|               44|                1|                       2|           80|               4|               16|                    5|              3|             8|                 6|                      7|                   6|
| 24|      Yes|       Non-Travel|     1086|             Support|              15|        1|       Marketing|            1|            13|                      4|Female|       189|             3|       1|Manufacturing Dir...|              4|      Married|        34153|     648907|                 7|     Y|      No|               17|                1|                       3|           80|               1|               30|                    2|              2|            15|                 3|                      8|                   4|
| 39|      Yes|       Non-Travel|      673|Research & Develo...|              16|        2| Human Resources|            1|            14|                      2|Female|        69|             4|       2|     Sales Executive|              2|      Married|        47844|     382752|                 1|     Y|      No|               47|                1|                       4|           80|               1|               14|                    4|              2|            13|                 9|                     11|                   5|
| 42|      Yes|    Travel_Rarely|      145|     Human Resources|              31|        3|   Life Sciences|            1|            15|                      3|  Male|       127|             3|       1|           Developer|              4|      Married|        21432|      21432|                 4|     Y|     Yes|               48|                2|                       1|           80|               4|                2|                    6|              2|             1|                 1|                      1|                   1|
| 44|      Yes|Travel_Frequently|      717|            Software|              10|        2| Human Resources|            1|            16|                      3|Female|       151|             1|       5|Sales Representative|              4|     Divorced|        50393|    1058253|                 6|     Y|     Yes|               42|                2|                       1|           80|               2|               27|                    3|              1|            27|                13|                     18|                  18|
| 50|      Yes|Travel_Frequently|      460|Research & Develo...|              10|        4| Human Resources|            1|            17|                      4|  Male|       181|             2|       5|             Manager|              3|     Divorced|        22090|      66270|                 7|     Y|      No|               19|                2|                       1|           80|               2|               14|                    3|              3|             5|                 3|                      4|                   5|
| 42|       No|    Travel_Rarely|     1422|            Software|              26|        4|   Life Sciences|            1|            18|                      4|Female|        92|             4|       5|           Developer|              3|       Single|        47968|      47968|                 3|     Y|     Yes|               41|                4|                       2|           80|               1|                5|                    4|              3|             4|                 1|                      2|                   3|
| 49|       No|Travel_Frequently|      129|Research & Develo...|              41|        1|Technical Degree|            1|            19|                      3|Female|        81|             2|       1|             Manager|              1|     Divorced|        24665|      98660|                 0|     Y|      No|               17|                2|                       3|           80|               4|                7|                    1|              3|             6|                 4|                      3|                   4|
| 58|      Yes|    Travel_Rarely|      637|             Support|               5|        4|Technical Degree|            1|            20|                      2|Female|        66|             3|       5|             Manager|              2|      Married|        41084|     903848|                 7|     Y|      No|               46|                1|                       3|           80|               3|               39|                    6|              4|            17|                 3|                     13|                   4|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows